# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDEs
.vs/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
Medieval (UE)/MeuProjeto/Content/__ExternalActors__/ThirdPerson/Lvl_ThirdPerson/6/OF/R7BMFI3NFRS2BFIII0XAWT.uasset
Medieval (UE)/MeuProjeto/Content/__ExternalActors__/ThirdPerson/Lvl_ThirdPerson/6/OF/R7BMFI3NFRS2BFIII0XAWT.uasset
